# Ignorar imagens dos eventos, mas nao ignorar imagem do Tux Gauderio.
/images/*
!/images/tchelinux.png

# Ignorar dados de eventos, man nao igonar exemplo de dados.
/data/*
!/data/config.json
!/data/config.csv

# Ignorar ferramentas...
/.vscode/

# Codinome de teste.
/config/
# Codinomes usuais de eventos.
/poa/
/pelotas/
/santacruz/
/nh/
/bento/
/bage/
/gravatai/
/lajeado/
/erechim/
/caxias/
/saoborja/
/alegrete/
/livramento/
/santamaria/
