# Ignorar imagens dos eventos, mas nao ignorar imagem do Tux Gauderio.
/images/*
!/images/tchelinux.png

# Codinome de teste.
/config/
# Codinomes usuais de eventos.
/poa/
/pelotas/
/santacruz/
/nh/
/bento/
/bage/
/gravatai/
/lajeado/
/erechim/
/caxias/
/saoborja/
/alegrete/
/livramento/
/santamaria/
